.chart_btn{
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: orange;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
}
.btn{
    display: flex;
    width: 400px;
    margin-top: 2rem;
    justify-content: space-evenly;
}




@media screen and (max-width: 1024px) {
    .btn {
      width: auto; 
      max-width: 80%; 
      justify-content: space-around; 
    }
  }
  
  @media screen and (max-width: 768px) {
    .chart_btn {
      font-size: 14px; 
      padding: 4px 8px;
    }
  }
  
  @media screen and (max-width: 480px) {
    .chart_btn {
      font-size: 12px; 
    }
  }
  